body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
    text-align: center;
}


header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
}


.container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    flex-wrap: wrap;
    background-color: #f0f8ff; /
}


.card {
    background-color: white;
    width: 230px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #007BFF;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.3);
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}


.price {
    color: #007BFF;
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
}


button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}
  
footer {
    background-color: #0d4a8b;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.footer-content p {
    margin: 5px 0;
    font-size: 25px;
}